<!---------------------------------------------

    Copyright 2025 Santiago Mora Pacheco

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

---------------------------------------------->

@inject IWebHostEnvironment env
@inject IJSRuntime jsRuntime

<div class="skill-main-container">
    <h2>@SkillType</h2>
    <div class="skill-container">
        @foreach (Skill skill in Skills) {
            string clickClass = (!string.IsNullOrWhiteSpace(skill.url)) ? "clickeable" : "no-clickeable";
            @if (File.Exists(Path.Combine(env.WebRootPath, "Resources", "Skills", "Images", $"{GetIconFileName(skill.iconName)}.png"))) {
                <img class="skill-img @clickClass" title=@skill.iconName src=@GetIconPath(skill.iconName) @onclick="() => OpenLink(skill.url)" />
            } else {
                <div class="skill-text @clickClass" @onclick="() => OpenLink(skill.url)">
                    @skill.iconName
                </div>
                
            }
        }
    </div>
</div>