<!---------------------------------------------

    Copyright (c) 2025 Santiago Mora Pacheco

    This file is under the MIT license.
    See the LICENSE file for more details.

---------------------------------------------->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="App.css" />
    <link rel="stylesheet" href="PortfolioMora.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script>
        window.getBrowserLanguage = () => {
            return navigator.languages && navigator.languages.length
                ? navigator.languages[0]
                : navigator.language || navigator.userLanguage || 'en-US';
        };
        window.setHtmlLang = function (lang) {
            document.documentElement.lang = lang;
        };
    </script>
</body>

</html>
