<!---------------------------------------------

    Copyright 2025 Santiago Mora Pacheco

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

---------------------------------------------->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="PortfolioMora.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script>

        /*-----------------------------------------------------------------
        
            Languages
        
        -----------------------------------------------------------------*/

        window.getBrowserLanguage = () => {
            return navigator.languages && navigator.languages.length
                ? navigator.languages[0]
                : navigator.language || navigator.userLanguage || 'en-US';
        };

        window.setHtmlLang = function (lang) {
            document.documentElement.lang = lang;
        };

        /*-----------------------------------------------------------------

            Container Height

        -----------------------------------------------------------------*/

        window.adjustContainerHeight = function () {
            const footer = document.getElementById('footer');
            const container = document.getElementById('main-container');

            if (footer && container) {
                const footerHeight = footer.offsetHeight;
                container.style.minHeight = `calc(100vh - ${footerHeight}px)`;
            }
        };

        window.initializeContainerHeight = function () {
            window.adjustContainerHeight();
            window.addEventListener('resize', window.adjustContainerHeight);
        };

    </script>
</body>

</html>
