<!---------------------------------------------

    Copyright (c) 2025 Santiago Mora Pacheco

    This file is under the MIT license.
    See the LICENSE file for more details.

---------------------------------------------->

@inject NavigationManager Navigation
@inject IJSRuntime jsRuntime
@inject IWebHostEnvironment env
@inject ILogger<TechnologiesButton> logger

<div class="technologies-button @(!string.IsNullOrEmpty(TechnologyLink) ? "clickeable" : "no-clickeable")" @onclick="OpenLink">
    @if (ExistPath()) {
        <img class="technologies-icon" src=@IconPath />
    }
    <p style="width: 100%;">@TechnologyName</p>
</div>
