<!---------------------------------------------

    Copyright 2025 Santiago Mora Pacheco

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

---------------------------------------------->

@inject IWebHostEnvironment env
@inject ILogger<TechnologiesButton> logger
@inject NavigationManager Navigation

<div class="project-container">
    @if (!(string.IsNullOrEmpty(ProjectPhotoName) || ProjectPhotoName.ToLower() == "none")) {
        string PhotoPath = Path.Combine(env.WebRootPath, "Resources", "Projects", "Images", $"{ProjectPhotoName}.png");
        <div style="flex: 1;">
            <img style="margin: 20px;" alt=@ProjectName src=@PhotoPath />
        </div>
    }    
    <div class="project-info">
        <div style="display: flex; justify-content: start; align-items: center; gap: 10px;">
            <h2 style="cursor: pointer;" @onclick='() => Navigation.NavigateTo($"/Project/{ProjectName}")'>@ProjectName</h2>
            @if (!string.IsNullOrEmpty(ProjectState)) {
                <div class="active-project-box">@ProjectState</div>
            }
        </div>        
        <p>@ProjectDescription</p>
        <div class="project-technologies">
            @foreach (string technology in ProjectTechnologies) {
                string[] _technology = technology.Split('=');
                <TechnologiesButton TechnologyName=@_technology[0] TechnologyLink="@(_technology.Length > 1 ? _technology[1].Trim('\"') : null)" />
            }
        </div>
    </div>
</div>